<div class="account-edit-component clearfix">
    <form *ngIf="_accountFormModel" [ngFormModel]="_accountFormModel" (ngSubmit)="saveEditedAccount()" class="account-form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </div>
                <input class="form-control" type="text" [ngFormControl]="_accountFormModel.controls['email']" [(ngModel)]="_accountModel.email" placeholder="user@foobar.com"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <input class="form-control" type="text" [ngFormControl]="_accountFormModel.controls['name']" [(ngModel)]="_accountModel.name"/>
            </div>
        </div>
        <div>
            <label>Orase</label>
            <select-component
                    [select-items]="_cities"
                    [single-item-selected]="_accountFormModel.controls['cityItem'].value"
                    [multi-select]="false"
                    (loaded)="referenceCitySelectorComponent($event)">
            </select-component>
        </div>
        <div *ngIf="_accountModel.accountType" class="form-group">
            <label>Tip cont: </label>
            <span class="form-control label-info" *ngIf="_accountModel.accountType">{{_accountModel.accountType}}</span>
        </div>
        <div *ngIf="_accountModel.creationDate" class="form-group">
            <label>Data in care a fost creeat: </label>
            <span class="form-control">{{_accountModel.creationDate}}</span>
        </div>
        <div *ngIf="_accountModel.activationDate" class="form-group">
            <label>Data in care a fost activat: </label>
            <span class="form-control">{{_accountModel.activationDate}}</span>
        </div>
        <div *ngIf="_accountModel.lastPasswordChangeDate" class="form-group">
            <label>Parola a fost schimbata in: </label>
            <span class="form-control">{{_accountModel.lastPasswordChangeDate}}</span>
        </div>
        <div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{{submitLabel}}</button>
            </div>
        </div>
    </form>
</div>