.demand-edit-component .button-group {
    margin-top: 25px;
}

.demand-edit-component .button-group .button-container{
    margin-bottom: 10px;
}

.demand-edit-component .button-group .button-container .btn{
    width: 100%;
}
.demand-edit-component .form-control.city-presentation{
    padding-top: 10px;
}