
.rating-component {
    padding-top: 20px;
    text-align: center;
}

.rating-component .rating-title{
    color: white;
}

.rating-component .rating{
    padding: 10px 0;
    color: white;
}

.rating-component .rating .glyphicon{
    color: white;
    font-size: 20px;
}