
.rating-component {
    text-align: center;
}

.rating-component .rating-title{
    color: black;
}

.rating-component .rating{
    padding: 10px 0;
    color: black;
}

.rating-component .rating .glyphicon{
    color: black;
    font-size: 20px;
}