<link rel="stylesheet" href="/app/components/registrationComponent/registrationComponent.css"/>
<div class="regisration-component col-md-3 col-md-push-4 col-xs-12 clearfix">
    <h3 class="title">{{formTitle}}</h3>
    <form [ngFormModel]="_registrationForm" (ngSubmit)="registrationFormSubmit()" class="registration-form">
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" [ngFormControl]="_registrationForm.controls['email']"/>
        </div>
        <div class="form-group">
            <label>Parola</label>
            <input type="password" class="form-control" [ngFormControl]="_registrationForm.controls['password']"/>
        </div>
        <div *ngIf="showNewsletter" class="form-group">
            <label>Inscriema la newsletter</label>
            <input type="checkbox" [ngFormControl]="_registrationForm.controls['subscribe']"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">{{buttonLabel}}</button>
        </div>
    </form>
</div>