.navbar.navbar-default.navbar-fixed-top {
    max-height: 50px;
    border: 0.5px solid transparent;
    border-top: none;
}

.navbar.navbar-default.navbar-fixed-top .container-fluid .navbar-header {
    max-height: 50px;
    position: relative;
}

.navbar.navbar-default.navbar-fixed-top .container-fluid .navbar-header .fMarket-brand-icon{
    max-height: 50px;
    width: auto;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0px;
    overflow: hidden;
    transition: .3s;
    visibility: hidden;
    display: block;
}

@media (min-width: 1024px) {
    .navbar.navbar-default.navbar-fixed-top .container-fluid{
        padding-left: 7%;
        padding-right: 7%;
    }
}
