<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'" [style.opacity]="showModal ? 0.5 : 0"  [ngClass]="{'remove':remove}"></div>
<div class="modal fade bs-example-modal-lg in" tabindex="-1" (click)="cancelFormAction()" role="dialog"
     [style.display]="showModal ? 'block' : 'none'" [style.opacity]="showModal ? 1 : 0" [ngClass]="{'remove':remove}">
    <div class="modal-dialog modal-dialog-very-sm modal-lg" (click)="stopPropagation($event)">
        <div class="modal-content">
            <form [ngFormModel]="_userForm" (ngSubmit)="submitNewUser()">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="cancelFormAction()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {{title}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-user"></span>
                        </span>
                            <input type="text" [ngFormControl]="_userForm.controls['name']" [(ngModel)]="responseObject.name" class="form-control"
                                   placeholder="Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                            <input type="email" [ngFormControl]="_userForm.controls['email']" [(ngModel)]="responseObject.email" class="form-control"
                                   placeholder="E-mail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-lock"></span>
                        </span>
                            <input type="password" [ngFormControl]="_userForm.controls['password']" [(ngModel)]="responseObject.password" class="form-control"
                                   placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                            <input type="tel" [ngFormControl]="_userForm.controls['phone']" [(ngModel)]="responseObject.phone" class="form-control"
                                   placeholder="0777123456"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-stats"></span>
                        </span>
                            <select class="user-status-select" [ngFormControl]="_userForm.controls['status']" [(ngModel)]="responseObject.status">
                                <option *ngFor="let option of statusList" [value]="option.status">{{option.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-globe"></span>
                        </span>
                            <select class="user-status-select" [ngFormControl]="_userForm.controls['cityId']" [(ngModel)]="responseObject.cityId">
                                <option *ngFor="let option of cityList" [value]="option.id">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Account Details:</label>
                        <textarea type="text" [ngFormControl]="_userForm.controls['accountDetails']" [(ngModel)]="responseObject.accountDetails"
                                  class="form-control no-resize"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" (click)="cancelFormAction()">
                        {{cancelLabel}}
                    </button>
                    <button type="submit" [disabled]="!_userForm.valid" class="btn btn-primary btn-sm"> {{positiveLabel}}
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
