<link rel="stylesheet" type="text/css" href="/app/components/createUserDialog/createUserDialog.css">

<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal fade bs-example-modal-lg in" tabindex="-1" (click)="cancelAction()" role="dialog"
     [style.display]="showModal ? 'block' : 'none'" [style.opacity]="showModal ? 1 : 0">
    <div class="modal-dialog modal-lg" (click)="stopPropagation($event)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="cancelAction()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
                        <input type="text" [(ngModel)]="newUser.name" class="form-control" placeholder="Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
                        <input type="email" [(ngModel)]="newUser.email" class="form-control" placeholder="E-mail"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
                        <input type="password" [(ngModel)]="newUser.password" class="form-control"
                               placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
                        <input type="tel" [(ngModel)]="newUser.phone" class="form-control" placeholder="0777123456"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
                        <select class="user-status-select" [(ngModel)]="newUser.status">
                            <option *ngFor="#option of statusList" [value]="option.status">{{option.displayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
                        <select class="user-status-select" [(ngModel)]="newUser.cityId">
                            <option *ngFor="#option of cityList" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Account Details:</label>
                    <textarea type="text" [(ngModel)]="newUser.accountDetails" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="cancelAction()">{{cancelLabel}}</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="positiveAction()"> {{positiveLabel}}
                </button>
            </div>
        </div>
    </div>
</div>
