.registration-page{
	display: table;
	width: 100%;
	text-align: center;
	background: url('/staticResorces/homeBackground.jpg');
	background-size: cover;
}

.registration-page .component-wrapper{
	display: table-cell;
	vertical-align: middle;
	padding: 25px 0 25px 0;
}

@media (max-width: 1024px) {
	.registration-page{
		height: 84%;
	}
}
