<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal fade bs-example-modal-lg in" tabindex="-1" (click)="cancelCreateSubscriber()" role="dialog"
     [style.display]="showModal ? 'block' : 'none'" [style.opacity]="showModal ? 1 : 0">
    <div class="modal-dialog modal-lg" (click)="stopPropagation($event)">
        <form [ngFormModel]="_subscriberForm" (ngSubmit)="submitSubscriber()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="cancelCreateSubscriber()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {{title}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-envelope"></span>
						</span>
                            <input type="email" [ngFormControl]="_subscriberForm.controls['email']"
                                   [(ngModel)]="responseObject.email" class="form-control"
                                   placeholder="E-mail"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" (click)="cancelCreateSubscriber()">{{cancelLabel}}
                    </button>
                    <button type="submit" [disabled]="!_subscriberForm.valid" class="btn btn-primary btn-sm"> {{positiveLabel}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
