.footer {
    background-color: #2A2A2A;
    position: absolute;
    /*left: 0;*/
    bottom: 0;
    /*height: 185px;*/
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #2A2A2A;;
}

.footer .footer-wrapper {
    position: relative;
    padding-left: 7%;
    padding-right: 7%;
}

.footer .footer-wrapper .footer-row {
    padding-bottom: 5px;
    color: #a6a6a6;
    font-size: 12px;
}

.footer .footer-wrapper .footer-row a {
    color: #a6a6a6;
}

.footer .footer-wrapper .footer-row.under-image {
    font-size: 12px;
    padding-top: 10px;
}

.footer .footer-wrapper .footer-row.first {
    padding-top: 20px;
}

.footer .footer-wrapper .footer-row.last {
    padding-bottom: 20px !important;
}

.footer .footer-wrapper .footer-row a {
    cursor: pointer;
}

.footer .rights-reserved {
    background-color: #e7e7e7;
}

.footer .footer-wrapper .col-sm-12.col-md-push-4.col-md-2 {
    text-align: left;
}

.footer .logo-image-container {
    margin-top: 15px;
    max-height: 50px;
    width: auto;
}

.footer .logo-image-container .image {
    width: auto;
    height: 100%;
    max-width: 100%;
}

@media (max-width: 990px) {

    .footer .footer-wrapper .col-sm-12.col-md-push-4.col-md-2 {
        text-align: center;
    }
}