<footer class="footer">
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a [routerLink]="['/']" class="logo-image-container">
                    <img class="image" src="/staticResorces/gray_logo_v.png"/>
                </a>
                <div class="footer-row under-image">
                    <span>© 2016 SimpluSiRapid.ro. Toate drepturile rezervate</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-push-4 col-md-2">
                <div class="footer-row first">
                    <!--[routerLink]="['About']"-->
                    <a>Contact</a>
                </div>
                <div class="footer-row">
                    <a [routerLink]="['/firme']">Firme ofertante</a>
                </div>
                <div class="footer-row last">
                    <!--[routerLink]="['TermsAndConditions']"-->
                    <a >Termeni si conditii de utilizare</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-push-4 col-md-2">
                <div class="footer-row first">
                    <a [routerLink]="['/login']">Login</a>
                </div>
                <div class="footer-row">
                    <!--[routerLink]="['About']"-->
                    <a>Despre SimpluSiRapid.ro</a>
                </div>
                <div class="footer-row last">
                    <a [routerLink]="['/registration']">Inregistrare</a>
                </div>
            </div>
        </div>
    </div>
</footer>