<link rel="stylesheet" href="/app/components/footerComponent/footerComponent.css"/>

<footer class="footer">
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="footer-row">
                    <!--[routerLink]="['TermsAndConditions']"-->
                    <a >Termeni si conditii de utilizare</a>
                </div>
                <div  class="footer-row">
                    <!--[routerLink]="['Contact']"-->
                    <a >Contact</a>
                </div>
                <div class="footer-row">
                    <a [routerLink]="['Registration']">Creare cont</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="footer-row">
                    <!--[routerLink]="['About']"-->
                    <a >Despre site</a>
                </div>
                <div class="footer-row">
                    <a [routerLink]="['Login']">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rights-reserved"><span>© 2016 fMarket. Toate drepturile rezervate</span></div>
</footer>