<div class="demands-list-page">
    <div *ngIf="pageName==='demands'" class="filters clearfix">
        <menu-tree-dialog
                [menu-tree-data]="menuDictionary"
                [enable-operations]="false"
                (loaded)="referenceDialogInDemandComponent($event)"
                (action-confirmed)="selectItemUsingMenu($event)"
        ></menu-tree-dialog>
        <div class="col-md-2 col-xs-12">
            <label>Id cont</label>
            <input type="number" class="form-control" [(ngModel)]="_searchObject.accountId"/>
        </div>
        <div class="col-md-2 col-xs-12">
            <label>Domeniu</label>
            <span class="form-control select-domain" (click)="showDomainsDialog()">{{_searchObject.domainName}}</span>
        </div>
        <div class="col-md-2 col-xs-12">
            <label>Domeniu</label>
            <select class="domain-select" [(ngModel)]="_searchObject.status">
                <option *ngFor="let option of statusList" [value]="option.status">{{option.displayName}}
                </option>
            </select>
        </div>
        <div class="col-md-6 col-xs-12 clearfix">
            <div class="pull-right btn-full-width">
                <input type="button" class="btn btn-success" value="Aplica filtre" (click)="getAllDemandsList()" />
            </div>
        </div>
    </div>
    <div class="demand-list-container clearfix">
        <demand-list-component
                [demand-list]="_demandsList"
                (demand-selected)="navigateToDemand($event)"
                (remove-demand)="removeDemand($event)">
        </demand-list-component>
    </div>
</div>