 .requests-page .requests-type-filter{
	padding-top: 1%;
}

.requests-page .add-request{
	padding-top: 1%;
}

.requests-page .requests-type-filter .search-field{
	width: 300px;
}

.requests-page .requests-type{
	padding-top: 1%;
}

.requests-page .requests-type .list-group .list-group-item {
	padding-top: 15px;
	height: 54px;
}

.requests-page .requests-type .list-group .list-group-item .col-md-9 .form-control {	
	margin-top: -6px;
}

.requests-page .requests-type .list-group .list-group-item .col-md-3 {	
	padding-right: 0px;
}



.requests-page .requests-type .list-group .list-group-item .secondary{
	float: right;
    padding-left: 15px;
    border-left: 1px solid rgb(221, 221, 221);
    line-height: 20px;
    height: 54px;
    margin-top: -15px;
    padding-top: 15px;
    margin-left: 15px;
} 