<div class="demand-list-base clearfix">
    <div class="list-group">
        <div *ngFor="let demand of demandList" class="list-group-item" (click)="selectDemand(demand)">
            <a>
                <div class="pull-right">
                    <span class="label label-success" title="Id-ul contului care a postat cererea">Id cont: {{demand.accountId}}</span>
                    <span class="label label-success" title="Data la care a fost postata cererea">Data: {{demand.creationDate}}</span>
                </div>
                {{demand.title}} <span class="label label-success" title="Statusul cereri" *ngIf="demand.status">{{demand.status}}</span>
            </a>
        </div>
    </div>
</div>