<link rel="stylesheet" href="/app/components/demandComponent/demandListBase/demandListBase.css"/>

<div class="demand-list-base clearfix">
    <div class="list-group">
        <div *ngFor="let demand of demandList" class="list-group-item" (click)="navigateToDetails(demand)">
            <a [routerLink]="['Admin/Demands/'+demand.id]">
                <div class="pull-right">
                    <span>{{domain.accountId}}</span>
                    <span>{{domain.date}}</span>
                </div>
                {{domain.title}} <span class="label label-info" *ngIf="domain.status">{{String(demand.status)}}</span>
            </a>
        </div>
    </div>
</div>