.companies-page .search-field-wrapper{
    padding: 5px 0 5px 0;
}

.companies-page .operations .inline-with-row{
    margin-top:25px;
}

@media (max-width: 990px){
    .companies-page .operations{
        width: 100%;
        padding: 2% 15px;
    }

    .companies-page .operations .inline-with-row{
        margin-top:0px;
    }

    .companies-page .operations .btn{
        width: 100%;
    }
}