<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div style="background-color: #EEEEEE; padding-bottom: 30px;">
        <table style="width: 450px; margin: auto; border-collapse: collapse; border-spacing: 0; border: 0;">
            <tr>
                <td style="padding-top: 10px; position: relative; width: 100%"><img
                    style="max-height: 50px; width: auto; padding: 0px 3px 5px" alt="fmarket.ro"
                    th:src="@{__${baseUrl}__/images/logo/logo.png}" /></td>
            </tr>
            <tr>
                <td style="text-align: center; background-color: #0079bf; color: white;"><span
                    style="font-size: 26px; padding: 20px 5px 20px; display: inline-block"> Schimbare parola fMarket.ro</span></td>
            </tr>
            <tr>
                <td style="text-align: center; background-color: white; color: grey;"><span
                    style="font-size: 18px; padding: 40px 5px 0px; display: inline-block"> Apasa butonul de mai jos pentru a
                        activa noua parola</span></td>
            </tr>
            <tr style="width: 500px; background-color: white;">
                <td style="text-align: center; padding: 40px 0px 50px"><a
                    th:href="@{'__${baseUrl}__' + '#' + '/confirm/passwordchange?token=__${token}__'" target="_blank" rel="nofollow"> <span
                        style="background-color: #2EB82E; display: inline-block; font-size: 20px; padding: 10px 50px 10px; color: white">
                            Activeaza noua parola </span>
                </a></td>
            </tr>
            <tr>
                <td style="text-align: center; background-color: white; color: grey;"><span
                    style="font-size: 12px; padding: 5px 55px 15px; display: inline-block"> Daca nu vrei sa schimbi parola
                        contului pe fmarket.ro te rugam sa ignori acest mail. </span></td>
            </tr>
            <tr>
                <td style="text-align: center;; color: grey; background-color: #EEEEEE"><span
                    style="font-size: 12px; padding: 25px 5px 0px; display: inline-block"> Daca butoanele si linkurile nu
                        functioneaza, marcheaza acest mail, selecteaza-l ca fiind Not Spam si acceseaza-l in Inbox. </span></td>
            </tr>
            <tr>
                <td rowspan="4" style="text-align: center; color: grey; background-color: #EEEEEE;"><span
                    style="font-size: 12px; padding: 0px 5px 0px; display: inline-block"> Pentru a accesa pagina web click <a
                        style="color: #1d66e5" th:href="@{__${baseUrl}__}">aici</a>
                </span> <span style="font-size: 12px; padding: 0px 10px 35px; display: inline-block"> Acest mesaj este generat
                        automat. Te rugam sa nu dai reply. </span></td>
            </tr>
        </table>
    </div>
</body>
</html>