
<link rel="stylesheet" type="text/css" href="/app/pages/adminPage/usersPage/usersPage.css">
<div class="users-page">
	<!-- TODO catch close event -->
	<action-dialog
	[title]="'Delete'"
	[positive-label]="'Delete'"
	(loaded)="referenceActionDialogInComponent($event)">
	<h4>Are you sure that you want to delete this user ?</h4>
</action-dialog>
<create-user-dialog
(loaded)="referenceCreateUserDialogInComponent($event)">
</create-user-dialog>
<div class="page-title">
	<div class="row">
		<div class="secondary">
			<input type="button" class="btn btn-primary" (click)="createAccount()" value="Adauga user" />
		</div>						
		<span class="h1">Users</span>					
	</div>	
</div>
<div class="page-content">
	<div class="row">
		<div class="filters">
			<strong class="h3">Filtre</strong>
			<div class="clearfix filter-container">
				<div class="col-md-2">
					<div class="form-group">
						<span>Email:</span>
						<input type="text" [(ngModel)]="emailFilter" placeholder="user@domain.com" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<span>Name:</span>
						<input type="text" [(ngModel)]="nameFilter" placeholder="Andrei" class="form-control"/>
					</div>
				</div>
				<div class="col-md-2">
					<span>Status:</span>
					<div>
						<select class="user-status-select" [(ngModel)]="selectedStatusFilter"> 
							<option *ngFor="#option of statusList" [value]="option.status">{{option.displayName}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<span>City:</span>
					<div>
						<select class="user-status-select" [(ngModel)]="cityId"> 
							<option *ngFor="#option of cityList" [value]="option.id">{{option.name}}</option>
						</select>
					</div>
				</div>
				<div class="secondary">
					<button class="btn btn-success" (clicl)="applyFilters()">Aplica Filtre</button> 
				</div>
			</div>
		</div>
		<table class="table table-striped" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="col-md-1">Id</th>
					<th class="col-md-3">Email</th>
					<th class="col-md-3">Name</th>
					<th class="col-md-1">Status</th>
					<th class="col-md-3">City</th>
					<th  class="col-md-1" colspan="2">Actiuni</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr *ngFor="#user of usersList"  [ngClass]="user.isInEditMode ? 'success':''">
					<td>
						<span >{{user.id}}</span>
					</td>
					<td>
						<span *ngIf="!user.isInEditMode">{{user.email}}</span>
						<input *ngIf="user.isInEditMode" type="text" class="form-control" [(ngModel)]="user.email" />
					</td>
					<td>
						<span *ngIf="!user.isInEditMode">{{user.name}}</span>
						<input *ngIf="user.isInEditMode" type="text" class="form-control" [(ngModel)]="user.name" />
					</td>
					<td class="fit-select-to-td">
						<span *ngIf="!user.isInEditMode">{{user.status}}</span>
						<select  *ngIf="user.isInEditMode" class="user-status-select" [(ngModel)]="user.status"> 
							<option *ngFor="#option of statusList" [value]="option.status">{{option.displayName}}</option>
						</select>
					</td>
					<td class="fit-select-to-td">
						<span *ngIf="!user.isInEditMode">{{user.city}}</span>
						<select  *ngIf="user.isInEditMode" class="user-status-select" [(ngModel)]="user.cityId"> 
							<option *ngFor="#option of cityList" [value]="option.id">{{option.name}}</option>
						</select>
					</td>
					<td>
						<a href="javascript:void(0)" *ngIf="!user.isInEditMode" (click)="toggleEditMode(user)">
							<span class="glyphicon glyphicon-cog"></span>
						</a>
						<a href="javascript:void(0)" *ngIf="user.isInEditMode" (click)="saveEditedUser(user)">
							<span *ngIf="user.isInEditMode" class="glyphicon glyphicon-ok"></span>
						</a>
					</td>
					<td>
						<a href="javascript:void(0)" (click)="deleteUser(user)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
				<tr class="navigation-row">
					<td colspan="5" class="navigation-column">
						<div class="col-xs-1">
							<a href="javascript: void(0)" (click)="navigateLeft()">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
						</div>
						<div class="col-xs-9">
							<div class="btn-group" role="group" *ngIf="pageNumbsersSubset.length > 1">
								<button *ngFor="#page of pageNumbsersSubset" [class]="isPageActive(page)" type="button" (click)="goToPageUsingIndex(page)">{{page}}</button>
							</div>
						</div>
						<div class="pull-right">
							<a href="javascript: void(0)" (click)="navigateRight()">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</td>
					<td class="fit-select-to-td" colspan="2">
						<select [(ngModel)]="usersPerPage" (ngModelChange)="getUsers()">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>
</div>