/*page title*/

.users-page .page-title .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.users-page .page-title .row .secondary {
    float: right;
}

.users-page .page-title .row .secondary input {
    margin-left: 5px;
}

/*page content*/
.users-page .page-content .row {
    margin-bottom: 12px;
}

.users-page .page-content .row .filters .filter-container {
    position: relative;
    padding-bottom: 5px;
}

.users-page .page-content .row .filters .filter-container .col-md-2 .user-status-select {
    height: 34px;
    width: 100%;
}

.users-page .page-content .row .filters .filter-container .secondary {
    float: right;
    padding-top: 1.3%;
}

.users-page .page-content .row .table .table-body tr > td > input {
    text-align: center;
}

.users-page .page-content .row .table .table-body tr > td, th {
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.users-page .page-content .row .table .table-body .fit-select-to-td {
    padding: 0;
    margin: 0;
}

.users-page .page-content .row .table .table-body .fit-select-to-td select {
    width: 100%;
    height: 104%;
}

.users-page .page-content .row .table .btn-group .active-page {
    color: blue;
}

.users-page .page-content .row .table .table-body .navigation-row .navigation-column {
    padding-right: 3%;
}