<div class="demand-dialog-component col-md-push-3 col-md-6 col-xs-12 clearfix">
    <div class="text-center">
        <h1>
            {{title}}
        </h1>
    </div>
    <div>
        <menu-tree-dialog
                [menu-tree-data]="menuDictionary"
                [enable-operations]="false"
                (loaded)="referenceDialogInDemandComponent($event)"
                (action-confirmed)="selectItemUsingMenu($event)"
        ></menu-tree-dialog>
        <form [ngFormModel]="_demandForm" (ngSubmit)="demandFormSubmit()" class="demand-component-container clearfix">
            <div class="demand-component">
                <div class="demand-control-groups">
                    <h3>Cerere</h3>
                    <div class="text-right">
                        <hr class="horizontal-marker"/>
                        <div class="position-to-middle">
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>Titlu</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span [ngClass]="getFormControllClass('title')"></span>
                                    <input type="text" class="form-control" [(ngModel)]="_demandData.title" [ngFormControl]="_demandForm.controls['title']"/>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-2">
                                    <label>Mesaj</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span [ngClass]="getFormControllClass('message')"></span>
                            <textarea type="text" rows="4" class="form-control no-resize" [(ngModel)]="_demandData.message" [ngFormControl]="_demandForm.controls['message']"></textarea>
                                </div>
                            </div>
                            <div class=" clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>Domeniu</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span class="form-control select-domain" (click)="showDomainsDialog()">{{_selectedDomain.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-control-groups">
                    <h3>Contact</h3>
                    <div class="text-right">
                        <hr class="horizontal-marker"/>
                        <div class="position-to-middle">
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>E-mail</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span [ngClass]="getFormControllClass('email')"></span>
                                    <input type="text" [disabled]="isUserLoggedIn" class="form-control" [(ngModel)]="_demandData.email"
                                           [ngFormControl]="_demandForm.controls['email']"/>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>Telefon</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span [ngClass]="getFormControllClass('phone')"></span>
                                    <input type="tel" class="form-control" [(ngModel)]="_demandData.phone"
                                           [ngFormControl]="_demandForm.controls['phone']"/>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>Nume</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <span [ngClass]="getFormControllClass('name')"></span>
                                    <input type="text" class="form-control" [(ngModel)]="_demandData.name"
                                           [ngFormControl]="_demandForm.controls['name']"/>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-2 col-xs-3 padding-top-7">
                                    <label>Orase</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <div class="clearfix">
                                        <select-component
                                                [select-items]="_cityList"
                                                [selected-items]="_demandForm.controls['cities'].value"
                                                [multi-select]="true"
                                                (loaded)="referenceCitiesComponent($event)">
                                        </select-component>
                                    </div>
                                    <div class="form-group position-relative">
                                        <input type="checkbox" [(ngModel)]="_demandData.allCities" [ngFormControl]="_demandForm.controls['allCities']"/>
                                        <label class="checkbox-label">Doresc sa fiu contactat din orice oras</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-md-push-2 col-md-10 col-xs-push-3 col-xs-9">
                            <div class="fix-margin">
                                <div class="form-group position-relative">
                                    <input type="checkbox" [(ngModel)]="_demandData.termsAgreed" [ngFormControl]="_demandForm.controls['termsAgreed']"/>
                                    <label class="checkbox-label">Sunt de accord cu termeni de utilizare ai siteului
                                        f-market.ro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-demand-action text-center">
                <button type="submit" class="btn btn-success"
                        [disabled]="_demandComponent && _demandComponent.demandForm && !_demandComponent.demandForm    .valid">
                    {{positiveLabel}}
                </button>
            </div>
        </form>
    </div>
</div>