<form [ngFormModel]="_demandForm" (ngSubmit)="demandFormSubmit()" class="demand-component-container clearfix">
    <div class="demand-component">
        <div class="demand-control-groups">
            <h3>Cerere</h3>
            <hr class="horizontal-marker"/>
            <div class="form-group">
                <label>Titlu</label>
                <input type="text" class="form-control" [ngFormControl]="_demandForm.controls['title']"/>
            </div>
            <div class="form-group">
                <label>Mesaj</label>
                <textarea type="text" rows="4" class="form-control no-resize"
                          [ngFormControl]="_demandForm.controls['message']"></textarea>
            </div>
            <div class="form-group">
                <label>Orase</label>
                <select-component
                        [select-items]="_cityList"
                        [selected-items]="_demandForm.controls['cities'].value"
                        [multi-select]="true"
                        (loaded)="referenceCitiesComponent($event)">
                </select-component>
            </div>
            <div>
                <label>Domeniu</label>
                <select-component
                        [select-items]="_domainList"
                        [single-item-selected]="_demandForm.controls['domain'].value"
                        [multi-select]="false"
                        (loaded)="referenceDomainComponent($event)">
                </select-component>
            </div>
        </div>
        <div class="contact-control-groups">
            <h3>Contact</h3>
            <hr class="horizontal-marker"/>
            <div class="form-group">
                <label>Telefon</label>
                <input type="tel" class="form-control" [ngFormControl]="_demandForm.controls['phone']"/>
            </div>
            <div class="form-group">
                <label>Nume</label>
                <input type="text" class="form-control" [ngFormControl]="_demandForm.controls['name']"/>
            </div>
            <div class="form-group">
                <label>Doresc sa fiu contactat prin telefon</label>
                <input type="checkbox" [ngFormControl]="_demandForm.controls['agreePhoneContact']"/>
            </div>
            <div class="form-group">
                <label>Doresc sa fiu contactat prin e-mail</label>
                <input type="checkbox" [ngFormControl]="_demandForm.controls['agreeEmailContact']"/>
            </div>
            <div class="form-group">
                <label>Doresc sa fiu contactat din orice oras</label>
                <input type="checkbox" [ngFormControl]="_demandForm.controls['allCities']"/>
            </div>
        </div>
        <div class="account-control-groups">
            <h3>Cont</h3>
            <hr class="horizontal-marker"/>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" [disabled]="isUserLoggedIn" class="form-control" [ngFormControl]="_demandForm.controls['email']"/>
            </div>
            <div class="form-group">
                <label>Sunt de accord cu termeni de utilizare ai siteului f-market.ro</label>
                <input type="checkbox" [ngFormControl]="_demandForm.controls['termsAgreed']"/>
            </div>
        </div>
    </div>
</form>