
.demand-dialog-component{
    padding-top: 3%;
    padding-bottom: 3%;
}

.demand-dialog-component .create-demand-action .btn.btn-success{
    width: 85%;
    height: 42px;
}

.demand-dialog-component .demand-component-container .demand-component .remove-icon{
    position: absolute;
    right: 25px;
    top: 8px;
}

.demand-dialog-component .demand-component-container .demand-component .col-md-10.col-xs-9 .select-domain{
    cursor: pointer;
}

.demand-dialog-component .demand-component-container .demand-component .padding-top-7{
    padding-top: 7px;
}

.demand-dialog-component .demand-component-container .demand-component .padding-top-2{
    padding-top: 2px;
}

.demand-dialog-component .demand-component-container .demand-component .col-md-10.col-xs-9{
    text-align: left;
}

.demand-dialog-component .demand-component-container .demand-component .position-to-middle {
    padding-right: 9%;
}

.demand-dialog-component .demand-component-container .demand-component .fix-margin{
    margin-left: -2%;
}

/*.demand-dialog-component .demand-component-container .demand-component .text-right .col-md-2{*/
    /*width: 12.666667%;*/
/*}*/

/*.demand-dialog-component .demand-component-container .demand-component .clearfix .col-md-push-2{*/
    /*left: 12.666667%;*/
/*}*/

.demand-component-container .demand-component .horizontal-marker{
    border-top: 3px solid #ffc299;
}

/*
.checkbox-label{
    color: #978787;
    position: absolute;
    margin-left: 5px;
}
*/

.no-resize{
    resize: none;
}

@media (max-width: 990px) {
    .demand-dialog-component .demand-component-container .demand-component .fix-margin{
        margin-left: -3.5%;
        margin-bottom: 27px;
    }

    .demand-dialog-component .create-demand-action .btn.btn-success{
        width: 100%;
        height: 42px;
    }
}
