/*
Css library
*/

/*components styles*/
@import "/app/components/createUserDialog/createUserDialog.css";
@import "/app/components/demandComponent/demandComponent.css";
@import "/app/components/demandComponent/demandEdit/demandEdit.css";
@import "/app/components/demandComponent/demandListBase/demandListBase.css";
@import "/app/components/footerComponent/footerComponent.css";
@import "/app/components/headerComponent/headerComponent.css";
@import "/app/components/registrationComponent/registrationComponent.css";
@import "/app/components/loadingComponent/loadingComponentStyle.css";
@import "/app/components/companieComponent/companieListComponent/companieListComponent.css";
@import "/app/components/selectComponent/selectComponent.css";
@import "/app/components/demandComponent/rejectDemandDialogComponent/rejectDemandDialogComponent.css";
@import "/app/components/companieComponent/companieListComponent/companiesAdminListComponent.css";
@import "/app/components/ratingComponent/ratingComponent.css";

/*pages styles*/
@import "/app/pages/accountSettingsPage/accountSettingsPage.css";
@import "/app/pages/accountSettingsPage/accountDemandsPage/accountDemandsPage.css";
@import "/app/pages/adminPage/adminPage.css";
@import "/app/pages/adminPage/categoriesPage/categoriesPage.css";
@import "/app/pages/adminPage/categoriesPage/categoriesMenuPage/categoriesMenuPage.css";
@import "/app/pages/adminPage/categoriesPage/companiesPage/companiesPage.css";
@import "/app/pages/adminPage/categoriesPage/domainsPage/domainsPage.css";
@import "/app/pages/adminPage/companiesPage/companiesPage.css";
@import "/app/pages/adminPage/demandsPage/demandsPage.css";
@import "/app/pages/adminPage/demandsPage/demandsEditPage/demandsEditPage.css";
@import "/app/pages/adminPage/subscribersPage/subscribersPage.css";
@import "/app/pages/adminPage/usersPage/usersPage.css";
@import "/app/pages/registrationPage/registrationPage.css";
@import "/app/pages/registrationPage/errorPages/errorActivateTokenPage.css";
@import "/app/pages/registrationPage/successPages/successPage.css";
@import "/app/pages/companiesPage/companiesPage.css";
@import "/app/pages/homePage/homePage.css";
@import "/app/pages/companiesPage/companieDetailPage/companieDetailPage.css";

*:focus {
    outline: none;
}

.front-index-100{
    z-index: 100;
}

.modal-dialog.modal {
    height: 100% !important;
    max-height: 100% !important;
}

.page-animation {
    animation-timing-function: ease-in;
    animation: page-show-animation 0.5s;
}

.arrow_box_right {
    position: relative;
    background: #6495ED;
    border: 4px solid #598BE4;
}

.arrow_box_right:after, .arrow_box_right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(100, 149, 237, 0);
    border-left-color: #6495ED;
    border-width: 30px;
    margin-top: -30px;
}

.arrow_box_right:before {
    border-color: rgba(89, 139, 228, 0);
    border-left-color: #598BE4;
    border-width: 36px;
    margin-top: -36px;
}

.arrow_box_bottom {
    position: relative;
    background: #ffffff;
}

.arrow_box_bottom:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -12px;
}

.blue_arrow_box_top {
    position: relative;
    background: #39739d;
    border: 4px solid #39739d;
}

.blue_arrow_box_top:after, .blue_arrow_box_top:before {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.blue_arrow_box_top:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color:#39739d;
    border-width: 10px;
    margin-left: -10px;
}

.blue_arrow_box_top:before {
    border-color: rgba(0, 166, 218, 0);
    border-bottom-color:#39739d;
    border-width: 16px;
    margin-left: -16px;
}

/*for error style*/
.backend-error {
    border-color: #ab2424;
    background-color: #ffecec;
}

.ng-touched.ng-valid:not(.backend-error) {
    border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-valid.no-form-validation{
    border-left: 1px solid #cccccc;
}

.ng-untouched.ng-valid.no-form-validation{
    border-left: 1px solid #cccccc;
}

.ng-touched.ng-dirty.ng-invalid {
    border-color: #ab2424;
    background-color: #ffecec;
}


/*slide down animation*/
@keyframes slide-down {
    0% {
        opacity: 0;
        height: 0px;
    }
    10% {
        opacity: 0.10;
        height: 5px;
    }
    30% {
        opacity: 0.30;
        height: 10px;
    }
    50% {
        opacity: 0.50;
        height: 15px;
    }
    70% {
        opacity: 0.70;
        height: 20px;
    }
    100% {
        opacity: 1;
        height: 27px;
    }
}

@keyframes slide-down-49 {
    0% {
        padding-top: 0px;
        opacity: 0;
        height: 0px;
    }
    10% {
        padding-top: 1px;
        opacity: 0.10;
        height: 5px;
    }
    20% {
        padding-top: 2px;
        opacity: 0.30;
        height: 10px;
    }
    30% {
        padding-top: 3px;
        opacity: 0.50;
        height: 15px;
    }
    40% {
        padding-top: 4px;
        opacity: 0.70;
        height: 20px;
    }
    50% {
        padding-top: 6px;
        opacity: 1;
        height: 25px;
    }
    60% {
        padding-top: 9px;
        opacity: 1;
        height: 30px;
    }
    70% {
        padding-top: 11px;
        opacity: 1;
        height: 35px;
    }
    80% {
        padding-top: 12px;
        opacity: 1;
        height: 40px;
    }
    90% {
        padding-top: 14px;
        opacity: 1;
        height: 45px;
    }
    100% {
        padding-top: 15px;
        opacity: 1;
        height: 49px;
    }
}

/*modal animation*/
.modal {
    animation: modal-show 0.3s;
    max-height: 98vh;
    max-width: 100vw;
}

.modal .modal-content .modal-body {
    max-height: 72vh;
    max-width: 100vw;
}

.modal.remove {
    animation: modal-remove 0.3;
}

.modal-backdrop {
    animation: modal-show-back 0.3s;
}

.modal-backdrop.remove {
    animation: modal-remove-back 0.3s;
}

@keyframes modal-show {
    0% {
        opacity: 0.01;
    }
    5% {
        opacity: 0.05;
    }
    10% {
        opacity: 0.10;
    }
    15% {
        opacity: 0.15;
    }
    20% {
        opacity: 0.20;
    }
    25% {
        opacity: 0.25;
    }
    30% {
        opacity: 0.30;
    }
    35% {
        opacity: 0.35;
    }
    40% {
        opacity: 0.40;
    }
    45% {
        opacity: 0.45;
    }
    50% {
        opacity: 0.50;
    }
    55% {
        opacity: 0.55;
    }
    60% {
        opacity: 0.60;
    }
    65% {
        opacity: 0.65;
    }
    70% {
        opacity: 0.70;
    }
    75% {
        opacity: 0.75;
    }
    80% {
        opacity: 0.80;
    }
    85% {
        opacity: 0.85;
    }
    90% {
        opacity: 0.90;
    }
    95% {
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modal-remove {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.90;
    }
    15% {
        opacity: 0.85;
    }
    20% {
        opacity: 0.80;
    }
    25% {
        opacity: 0.75;
    }
    30% {
        opacity: 0.70;
    }
    35% {
        opacity: 0.65;
    }
    40% {
        opacity: 0.60;
    }
    45% {
        opacity: 0.55;
    }
    50% {
        opacity: 0.50;
    }
    55% {
        opacity: 0.45;
    }
    60% {
        opacity: 0.40;
    }
    65% {
        opacity: 0.35;
    }
    70% {
        opacity: 0.30;
    }
    75% {
        opacity: 0.25;
    }
    80% {
        opacity: 0.20;
    }
    85% {
        opacity: 0.15;
    }
    90% {
        opacity: 0.10;
    }
    95% {
        opacity: 0.05;
    }
    100% {
        opacity: 0;
    }
}

@keyframes modal-remove-back {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes modal-show-back {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.10;
    }
    40% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.30;
    }

    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.5;
    }
}

/*page show animation*/
@keyframes page-show-animation {
    0% {
        height: 100%;
    }
    5% {
        padding-left: 95%;
    }
    10% {
        padding-left: 90%;
    }
    15% {
        padding-left: 85%;
    }
    20% {
        padding-left: 80%;
    }
    25% {
        padding-left: 75%;
    }
    30% {
        padding-left: 70%;
    }
    35% {
        padding-left: 65%;
    }
    40% {
        padding-left: 60%;
    }
    45% {
        padding-left: 55%;
    }
    50% {
        padding-left: 50%;
    }
    55% {
        padding-left: 45%;
    }
    60% {
        padding-left: 40%;
    }
    65% {
        padding-left: 35%;
    }
    70% {
        padding-left: 30%;
    }
    75% {
        padding-left: 25%;
    }
    80% {
        padding-left: 20%;
    }
    85% {
        padding-left: 15%;
    }
    90% {
        padding-left: 10%;
    }
    95% {
        padding-left: 5%;
    }
    100% {
        padding-left: 0%;
    }
}

/*list item appear transition*/
.right-to-middle-effect {
    -webkit-transition: opacity 1000ms ease-in-out, left 500ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out, left 500ms ease-in-out;
    -ms-transition: opacity 1000ms ease-in-out, left 500ms ease-in-out;
    -o-transition: opacity 1000ms ease-in-out, left 500ms ease-in-out;
    transition: opacity 1000ms ease-in-out, left 500ms ease-in-out;
    animation: transition-right-to-middle 2s;
}

@keyframes transition-right-to-middle {
    0% {
        left: 100%;
    }
    10% {
        left: 90%;
    }
    20% {
        left: 80%;
    }
    30% {
        left: 70%;
    }
    40% {
        left: 60%;
    }
    50% {
        left: 50%;
    }
    60% {
        left: 40%;
    }
    70% {
        left: 30%;
    }
    80% {
        left: 20%;
    }
    90% {
        left: 10%;
    }
    100% {
        left: 0;
    }
}

/*dropdown animation*/
.dropdown-menu > :first-child {
    margin-top: 5px;
}

.dropdown-menu > :last-child {
    margin-bottom: 5px;
    background-color: #e7e7e7;
    cursor: pointer;
}

.open > .dropdown-menu {
    visibility: visible;
    max-height: 500px;
}

/*application wrapper style*/
.application-wrapper {
    padding-bottom: 98px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

.application-wrapper .footer-absolute-wrapper {
    position: absolute;
    background-color: #f8f8f8;
}

.login-background {
    background: url('/staticResorces/registration-background.png');
}

.page-container {
    margin-top: 50px;
}

.page-container .notification-wrapper {
    position: fixed;
    min-width: 100%;
    z-index: 10001;
    top: 8%;
}

.page-container .notification-wrapper .wrapper-inner {
    display: block;
}

.page-container .notification-helper {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes item-animation {
    0% {
        padding-left: 100px;
    }
    100% {
        padding-left: 0px;
    }
}

.ng-for-item {
    animation: item-animation 0.5s;
}

@media (max-width: 990px) {
    .application-wrapper {
        padding-bottom: 299px !important
    }

    .modal .modal-content .modal-body {
        overflow-y: auto;
    }
}

@media (max-width: 967px) {
    .modal-dialog.modal-dialog-very-sm {
        width: 383px;
        margin: 30px auto;
    }

    /*side menu style*/
    .sidenav-mobile {
        height: 100%;
        width: 250px;
        margin-left: -250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: margin-left .5s;
        z-index: 1051;
    }

    .sidenav-mobile a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s
    }

    .sidenav-mobile a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav-mobile {
        top: 0;
        right: 25px;
        font-size: 36px !important;
        padding-top: 0px;
    }


}

.thead-inverse {
    background-color: #00a6da;
    color: white;
}

.password-error {
    color: #ab2424;
    padding: 5px 0 5px 0;
    font-size: 12px;
    margin-top: -15px;
}

.checkbox-label {
    color: #777777;
    position: absolute;
    margin-left: 5px;
    font-weight: normal;
}
.remove-left-padding {
    padding-left: 0px;
}

.remove-right-padding {
    padding-right: 0px;
}

.glyphicon.glyphicon-trash {
    color: #ab2424;
    transition: .1s;
}
.padding-botom-15 {
    padding-bottom: 15px;
}

.table .thead-inverse .vertical-align {
    vertical-align: middle;
}

.vertical-align th {
    vertical-align: middle;
}

.table .table-body tr > td.text-left {
    text-align: left
}

.glyphicon.glyphicon-ok{
    color: #0f9e0f;;
    transition: .1s;
}

.glyphicon.glyphicon-ok:hover{
    color: #088b08;
}

.glyphicon.glyphicon-remove {
    color: #ab2424;
    transition: .1s;
}

.glyphicon.glyphicon-remove:hover {
    color: #d53939;
}

.glyphicon.glyphicon-trash:hover {
    color: #d53939;
}

.position-relative{
    position: relative;
}

.fill-parent-height{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.parent-size{
    width: 100%;
    height: 100%;
}

.checking-item {
    position: absolute;
    right: -10px;
    top: 8px;
}


.checking-item-registration {
    position: absolute;
    right: -20px;
    top: 8px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0px;
}

.table .table-body tr > td {
    font-size: 14px;
}

.table .table-body tr > td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;
    vertical-align: middle;
    height: 32px;
}

.no-padding{
    padding: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}