.success-page-container{
    padding: 3% 5% 3% 5%;
}

.success-page {
    padding-left: 15vw;
    padding-right: 15vw;
}

.success-page .success-page-wrapper {
    background-color: #DFF0D8;
    padding: 15px;
    color: #468847;
}

.success-page .success-page-wrapper a{
    color: #0c8d4f;
    cursor: pointer;
    font-size: 20px;
}

.success-page .success-page-wrapper .glyphicon.glyphicon-ok{
    font-size: 40px;
}