<div @flyInOut class="companies-detail-page">
    <div class="companies-presentation-page-container clearfix">
        <div class="full-width-container">
            <div class="title">
                <span class="h2">{{companieDetailsModel.name}}</span>
            </div>
        </div>
        <div class="companie-detail-container">
            <div class="details-container clearfix">
                <div class="col-md-5">
                    <div class="content-wrapper">
                        <div class="form-group">
                            <label>Email :</label>
                            <label>{{companieDetailsModel.email}}</label>
                        </div>
                        <div class="form-group">
                            <label>Telefon :</label>
                            <label>{{companieDetailsModel.phone}}</label>
                        </div>
                        <div class="form-group">
                            <label>Adresa :</label>
                            <label>{{companieDetailsModel.address}}</label>
                        </div>
                        <div class="form-group">
                            <label>Persoana de contact :</label>
                            <label>{{companieDetailsModel.contactPerson}}</label>
                        </div>
                        <div class="form-group">
                            <label>Domaniu companie :</label>
                            <label>{{companieDetailsModel.companyDomain}}</label>
                        </div>
                        <div class="form-group">
                            <label>Domenii cereri :</label>
                            <label *ngFor="let c of companieDetailsModel.demandDomains"> {{c.name}}</label>
                        </div>
                        <div class="form-group">
                            <label>Oras :</label>
                            <label>{{companieDetailsModel.city}}</label>
                        </div>
                        <div class="form-group">
                            <label>Data la care a fost adaugata pe fMarket :</label>
                            <label>{{companieDetailsModel.creationDate}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image-container">
                        <img class="image-logo" [src]="'/companies/logo/' + companyId" />
                    </div>
                    <rating-component [max-rating]="ratinArray" [company-review]="companyReview" (set-rating)="addStarsNumber($event)"></rating-component>
                </div>
                <div class="col-md-5 fill-parent-height map-container">
                    <sebm-google-map class="parent-size" [latitude]="mapModel.lat" [longitude]="mapModel.lng" [zoom]="mapModel.zoom" [disableDefaultUI]="false" [zoomControl]="false">

                        <sebm-google-map-marker #mapMerkerRef [latitude]="marketModel.lat" [longitude]="marketModel.lng" [label]="marketModel.label"
                            [markerDraggable]="marketModel.draggable">

                            <sebm-google-map-info-window>
                                <img class="map-icon" [src]="'/companies/logo/' + companyId" />
                            </sebm-google-map-info-window>

                        </sebm-google-map-marker>

                    </sebm-google-map>
                </div>
            </div>
            <div class="coments-section">
                <div style="padding-bottom: 20px">
                    <span class="h3 open-comments-action" (click)="commentsOpen = !commentsOpen">Comentarii legate de companie</span>
                    <span class="glyphicon open-comments-action" [class.glyphicon-triangle-bottom]="!commentsOpen" [class.glyphicon-triangle-top]="commentsOpen"
                        (click)="openCommentsSection()"></span>
                </div>
                <div class="coments-group" [class.open]="commentsOpen">
                    <div *ngIf="comments.length === 0" style="color: black;">
                        <span>Nu sunt comentarii.</span>
                    </div>
                    <div class="coments-list" *ngFor="let comment of comments">
                        <div class="form-group">
                            <div class="comment-author">
                                <label class="h4">{{comment.name}}</label>
                                <label>{{comment.date}}</label>
                            </div>
                            <div class="arrow_box_top">
                                <textarea class="form-control comment-container" disabled>{{comment.message}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-coment-operation">
                    <div class="form-group">
                        <textarea class="form-control no-resize add-comment-container" [(ngModel)]="comment"></textarea>
                    </div>
                    <div class="operations">
                        <button class="btn btn-success" (click)="addComment()">
                                <span class="glyphicon glyphicon-send"></span>
                                Adauga comentariu
                            </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>