.companies-detail-page{
}
/*
.companies-detail-page .companies-presentation-page-container .side-presentation{
    position: fixed;
    background-color: rgba(0, 48, 91, 0.65);
    height: 100%;
}*/

.companies-detail-page .companies-presentation-page-container .image-container{
    max-width: 400px
}

.companies-detail-page .companies-presentation-page-container .image-container .image-logo{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*.companies-detail-page .companies-presentation-page-container .display-table .side-text-content-wrapper{
    padding-right: 14%;
    padding-left: 13%;
}*/
/*
.companies-detail-page .companies-presentation-page-container .display-table{
    display: table;
    text-align: right;
    min-height: 79%;
}*/

.companies-detail-page .companies-presentation-page-container .companie-detail-container{
    text-align: center;
}

.companies-detail-page .companies-presentation-page-container .title{
    padding: 40px;
    text-align: center;
    color: white;
}

.companies-detail-page .companies-presentation-page-container .title > div > div > span {
    font-size: 70px;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .details-container{
    background-color: white;
    padding: 20px;
    text-align: left;
    position: relative;
    background-color: 
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .details-container .content-wrapper{
    padding-left: 100px
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .companie-map{
    padding: 20px 0;
    color: white;
}

.companies-detail-page .map-icon{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-section{
    padding: 20px 0 0 0;
    color: white;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-section .open-comments-action{
    cursor: pointer;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-group{
    background-color: white;
    transition: .3s linear;
    height: 0px;
    overflow: hidden;
    padding: 30px;
    display: none;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-group.open{
    height:  auto;
    display: block;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-list .comment-author{
    color: black;
    text-align: left;
    padding-left: 3%;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-list .comment-container{
    pointer-events: none;
    resize: none;
    border-radius: 2px;
    color: black;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .add-coment-operation .operations{
    text-align: right;
}

.companies-detail-page .companies-presentation-page-container .add-coment-operation{
    padding: 30px;
}

.companies-detail-page .companies-presentation-page-container .add-coment-operation .operations .add-comment-container{
    height: 250px;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-list .arrow_box_top{
    position: relative;
    border: 2px solid #39739d;
    border-radius: 4px;
    margin-top: 7px;
}

.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-list .arrow_box_top:after, .arrow_box_top:before {
    bottom: 100%;
    left: 4%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.companies-detail-page .companies-presentation-page-container .companie-detail-container .coments-list .arrow_box_top:before{
    border-color: rgba(0, 166, 218, 0);
    border-bottom-color: #39739d;
    border-width: 16px;
}

.table-cell{
    display: table-cell;
}

.vertical-align-middle{
    vertical-align: middle;
}

.color-white{
    color: white;
}

.full-width-container{
    width: 100%;
}


.map-container{
    padding: 10px;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
}

.vertical-middle{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.margin-left-50{
    margin-left: 50%;
}

@media(max-width:991px){    

    .fill-left-parent-height {
        position: relative !important;
        height: auto !important;
    }

    .vertical-middle{
            padding: 10px !important;
            display: block !important;
            text-align: center !important;
            position: relative !important;
            height: auto !important;
    }

    .margin-left-50 .image-container{
        max-width: 100% !important;
        text-align: center;
    }

    .margin-left-50 .image-container .image-logo{
        margin: auto;
    }

    .margin-left-50{
        text-align: center;
        margin-left: 0px; 
    }

    .companies-detail-page .companies-presentation-page-container .title > div > div > span {
        font-size: 50px;
    }

    .companies-detail-page .companies-presentation-page-container .companie-detail-container .details-container .content-wrapper {
        padding-left: 0px;
    }
}