.companies-page .companie-type-filter{
	padding-top: 1%;
}

.companies-page .add-companie{
	padding-top: 1%;
}

.companies-page .companie-type-filter .search-field{
	width: 300px;
}

.companies-page .companie-type{
	padding-top: 1%;
}

.companies-page .companie-type .list-group .list-group-item {
	padding-top: 15px;
	height: 54px;
}

.companies-page .companie-type .list-group .list-group-item .col-md-9 .form-control {	
	margin-top: -6px;
}

.companies-page .companie-type .list-group .list-group-item .col-md-3 {	
	padding-right: 0px;
}



.companies-page .companie-type .list-group .list-group-item .secondary{
	float: right;
    padding-left: 15px;
    border-left: 1px solid rgb(221, 221, 221);
    line-height: 20px;
    height: 54px;
    margin-top: -15px;
    padding-top: 15px;
    margin-left: 15px;
} 