<div class="companies-page">
    <div class="companie-type-filter clearfix">
        <div class="pull-right">
            <button class="btn btn-primary" (click)="toggleAddCompanieDomain(true)">
                <span class="glyphicon glyphicon-plus"></span> Adauga tip de companie
            </button>
        </div>
        <div class="search-field">
            <div class="input-group">
 				<span class="input-group-addon">
 					<span class="glyphicon glyphicon-search"></span>
 				</span>
                <input class="form-control" placeholder="Search..." [(ngModel)]="searchQuery"
                       (ngModelChange)="getCompanyTypesWithFilters()"/>
            </div>
        </div>
    </div>
    <!-- *ngIf="showAddCompanieDomainRow" -->
    <div class="add-companie" *ngIf="showAddCompanieDomainRow">
        <form [ngFormModel]="_newDomainForm" (ngSubmit)="addCompanieDomain()">
            <div class="input-group">
                <input [ngFormControl]="_newDomainForm.controls['newDomain']" class="form-control" [(ngModel)]="newDomain"/>

                <div class="input-group-btn">
                    <button [disabled]="!_newDomainForm.valid" type="submit" class="btn btn-secondary btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        Creeaza
                    </button>
                    <button type="button" class="btn btn-secondary btn-default"
                            (click)="toggleAddCompanieDomain(false)">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="companie-type">
        <div class="list-group">
            <div *ngFor="let companieType of companieTypes" class="list-group-item clearfix">
                <div class="col-md-9 col-xs-6">
 					<span *ngIf="!companieType.isInEditMode">
 						{{companieType.name}}
 					</span>
                    <input autofocus *ngIf="companieType.isInEditMode" class="form-control" [(ngModel)]="companieType.name"/>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a class="secondary" (click)="deleteCompanyType(companieType)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a *ngIf="!companieType.isInEditMode" class="secondary" (click)="toggleEditMode(companieType)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a *ngIf="companieType.isInEditMode" class="secondary" (click)="revertEdit(companieType)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a *ngIf="companieType.isInEditMode" class="secondary" (click)="editCompaniType(companieType)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>