<div class="companie-list-component clearfix">
    <div class="companies-grid clearfix">
        <div *ngFor="let container of _companieList; let i=index">
            <div *ngIf="container && container.length >0" class="col-md-3 col-xs-12">
                <div *ngFor="let cellWrapper of container">
                    <div class="title-wrapper">
                        <span class="h4 cell-tag-label">
                            {{cellWrapper.domainName}}
                        </span>
                    </div>
                    <div class="companies-list">
                        <div *ngFor="let companie of cellWrapper.companies" class="companie-list-item">
                            <img class="logo-item" [src]="companie.logoSrc"/>
                            <a click="selectCompanie(companie)" >
                               {{companie.name}} <!--<img [src]=""/>-->
                            </a>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            <div *ngIf="(i+1)%4==0" class="clearfix"></div>

        </div>
    </div>
    </div>