.companie-list-component .companies-grid:before {
    content: '';
}

.companie-list-component .companies-grid .title-label {
    padding: 5px;
}

.companie-list-component .companies-grid .companies-list .companie-list-item a {
    display: inline-block;
}

.companie-list-component .companies-grid .title-wrapper {
    padding-bottom: 10px;
}

.companie-list-component .companies-grid .title-wrapper .cell-tag-label {
    padding: 5px 7px 5px 7px;
    border: 1px;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
}

.companie-list-component .companies-grid .title-wrapper .cell-tag-label:hover {
    cursor: pointer;
    color: #3973CE;
    background-color: #D2DFF3;
}

.companie-list-component .companies-grid .companies-list .companie-list-item .logo-item {
    max-height: 50px;
    width: auto;
}

.companie-list-component .companies-grid .companies-list .companie-list-item a[title]:hover {
    max-height: 50px;
    width: auto;
}
.left {
    /*clear: left;*/
}