<div class="admin-companies-list">
    <table class="table table-striped text-center">
        <thead class="thead-inverse">
        <tr>
            <th class="hidden-xs hidden-sm">Id</th>
            <th class="hidden-xs hidden-sm">Id cont</th>
            <th>Nume</th>
            <th class="hidden-xs hidden-sm">Email</th>
            <th>Domeniu companie</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr *ngFor="let companie of _companieList" (click)="selectCompanie(companie)">
            <td class="hidden-xs hidden-sm">{{companie.id}}</td>
            <td class="hidden-xs hidden-sm">{{companie.accountId}}</td>
            <td>{{companie.name}}</td>
            <td class="hidden-xs hidden-sm">{{companie.email}}</td>
            <td>{{companie.companyDomain}}</td>
            <td [title]="'Sterge compania '+companie.name">
                <a class="action" (click)="removeCompanie($event, companie)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>