<div class="demand-dialog-component col-md-push-3 col-md-6 col-xs-12 clearfix">
    <div class="text-center">
        <h1>
            {{title}}
        </h1>
    </div>
    <div>
        <demand-component
                [city-list]="_cityList"
                [domain-List]="_domainList"
                [demand-data]="responseObject"
                (submit)="broadCastSumbmitEvent($event)"
                (loaded)="referenceDemandComponent($event)">
        </demand-component>
    </div>
    <div class="create-demand-action">
        <!--<button type="button" class="btn btn-default btn-sm" (click)="closeDemandDialog()">{{cancelLabel}}-->
        <!--</button>-->
        <button type="button" class="btn btn-success"
                [disabled]="_demandComponent && _demandComponent.demandForm && !_demandComponent.demandForm    .valid"
                (click)="createDemand()"> {{positiveLabel}}
        </button>
    </div>

    <!--<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>-->
    <!--<div class="modal fade bs-example-modal-lg in" tabindex="-1" (click)="cancelAction()" role="dialog"-->
         <!--[style.display]="showModal ? 'block' : 'none'" [style.opacity]="showModal ? 1 : 0">-->
        <!--<div class="modal-dialog modal-lg" (click)="stopPropagation($event)">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" aria-label="Close" (click)="closeDemandDialog()">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                    <!--<h2 class="modal-title">-->
                        <!--{{title}}-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<demand-component-->
                            <!--[city-list]="_cityList"-->
                            <!--[domain-List]="_domainList"-->
                            <!--[demand-data]="responseObject"-->
                            <!--(submit)="broadCastSumbmitEvent($event)"-->
                            <!--(loaded)="referenceDemandComponent($event)">-->
                    <!--</demand-component>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default btn-sm" (click)="closeDemandDialog()">{{cancelLabel}}-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-primary btn-sm"-->
                            <!--[disabled]="_demandComponent && _demandComponent.demandForm && !_demandComponent.demandForm    .valid"-->
                            <!--(click)="createDemand()"> {{positiveLabel}}-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>