.demand-dialog-component{
    padding-top: 3%;
    padding-bottom: 3%;
    color: #f5fef5;
}


.demand-dialog-component .create-demand-action .btn.btn-success{
    width: 100%;
    height: 42px;
}

.demand-dialog-component .form-group .ng-dirty.ng-invalid.ng-touched {
    border-color: #ab2424;

}

.demand-dialog-component .form-group .ng-dirty.ng-invalid.ng-touched:focus {
    border-color: #ab2424;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ab2424;
}
