.demand-dialog-component.clearfix .modal.fade.bs-example-modal-lg.in .modal-dialog.modal-lg .modal-body{
    max-height: 70vh;
    overflow: auto;
}


.demand-dialog-component .form-group .ng-dirty.ng-invalid.ng-touched {
    border-color: #ab2424;

}

.demand-dialog-component .form-group .ng-dirty.ng-invalid.ng-touched:focus {
    border-color: #ab2424;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #ab2424;
}
