<div class="menu-tree" *ngIf="menuTreeView.length>0">

    <div class="col-md-4" *ngFor="let menu of menuTreeView; let i = index">
        <base-menu
                [menu-items-list]="menu"
                [menu-layer]="i"
                [active-in-tree]="getActiveItemInTree(i)"
                (select-menu-item)="selectMenuItem($event)"
                (add-new-item)="requestNewMenuItem($event)"
                (edit-submenu)="editSubmenu($event)"
                (delete-submenu)="deleteSubmenu($event)">
        </base-menu>
    </div>
</div>